#### Homework-6
##### Total number of points: 40
#### Due date: April 5th, 2022

Before you submit this homework, make sure everything runs as expected. First, restart the kernel (in the menu, select Kernel → Restart) and then run all cells (in the menubar, select Cell → Run All). You can discuss with others regarding the homework but all work must be your own.

This homework will test your knowledge on basics of Python. The Python notebooks shared will be helpful to solve these problems. 

Steps to evaluate your solutions:

Step-1: Ensure you have installed Anaconda (Windows: https://docs.anaconda.com/anaconda/install/windows/ ; Mac:https://docs.anaconda.com/anaconda/install/mac-os/ ; Linux: https://docs.anaconda.com/anaconda/install/linux/)

Step-2: Open the Jupyter Notebook by first launching the anaconda software console

Step-3: Open the .ipynb file and write your solutions at the appropriate location "# YOUR CODE HERE"

Step-4: You can restart the kernel and click run all (in the menubar, select Cell → Run All) on the center-right on the top of this window.

Step-5: Now go to "File" then click on "Download as" then click on "Notebook (.ipynb)" Please DO NOT change the file name and just keep it as .ipynb file format

Step-6: Go to lms.rpi.edu and upload your homework at the appropriate link to submit this homework.

#### Please note that for any question in this assignment you will receive points ONLY if your solution passes all the test cases including hidden testcases as well. So please make sure you try to think all possible scenarios before submitting your answers.  
- Note that hidden tests are present to ensure you are not hardcoding. 
- If caught cheating: 
    - you will receive a score of 0 for the 1st violation. 
    - for repeated incidents, you will receive an automatic 'F' grade and will be reported to the dean of Lally School of Management.

In [ ]:
import pandas as pd
import numpy as np
df = pd.read_csv('https://raw.githubusercontent.com/lmanikon/lmanikon.github.io/master/teaching/datasets/KaggleAdmissions.csv')
df.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

### Q1 [18 points]

#### 1. Create a new dataframe `df_sub` by dropping `Serial No.` these feature columns in `df` : 

#### 2. Standardize only these attributes in `df_sub` using the function `StandardScaler()`: 
- `GRE Score`, `TOEFL Score`

#### 3. Perform normalization only on these attributes in `df_sub` using the function `MinMaxScaler()`
- `University Rating`, `SOP`, `LOR`, `CGPA`, `Research` 
    
#### Note that after steps 3 and 4, make sure you still have the transformed values saved in `df_sub` 

#### 4. Create a new column named `Admit` using original column `Chance of Admit ` to create a discrete set of class labels using these conditions. Then drop `Chance of Admit ` column from `df_sub`. 
- Convert to 2, if `Chance of Admit ` value is `>= 0.73`
- 1, if `Chance of Admit ` value is `< 0.73`

In [ ]:
#Answering the above questions in the same order as listed

from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler

df_sub = df.drop(columns = ['Serial No.'])

scaler = StandardScaler()
cols_to_scale = ['GRE Score','TOEFL Score']
scaler.fit(df_sub[cols_to_scale])
df_sub[cols_to_scale] = scaler.transform(df_sub[cols_to_scale])
df_sub.head()

mms = MinMaxScaler()
cols_to_norm = ['University Rating', 'SOP', 'LOR ', 'CGPA', 'Research']
mms.fit(df_sub[cols_to_norm])
df_sub[cols_to_norm] = mms.transform(df_sub[cols_to_norm])

df_sub['Admit'] = np.where(df_sub['Chance of Admit '] < 0.73, 1, 2)
df_sub = df_sub.drop(columns = ['Chance of Admit '])
df_sub.rename(columns = {'LOR ':'LOR'}, inplace = True)

df_sub.head(10)

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Admit
0,1.762107,1.746971,0.75,0.875,0.875,0.913462,1.0,2
1,0.627656,-0.067635,0.75,0.750,0.875,0.663462,1.0,2
2,-0.070467,-0.562528,0.50,0.500,0.625,0.384615,1.0,1
3,0.453126,0.427257,0.50,0.625,0.375,0.599359,1.0,2
4,-0.244998,-0.727492,0.25,0.250,0.500,0.451923,0.0,1
5,1.151249,1.252078,1.00,0.875,0.500,0.814103,1.0,2
6,0.365860,0.262293,0.50,0.500,0.750,0.448718,1.0,2
7,-0.768590,-1.057420,0.25,0.500,0.750,0.352564,0.0,1
8,-1.292182,-0.892456,0.00,0.250,0.125,0.384615,0.0,1
9,0.540391,0.097329,0.50,0.625,0.500,0.576923,0.0,1

In [ ]:
#[6 points] Test cell-1
#DO NOT MODIFY/DELETE THIS CELL 
assert (len(df_sub))==400
assert (len(df_sub.columns))==8
assert (set(df_sub.columns))=={'LOR', 'SOP', 'CGPA', 'TOEFL Score', 'GRE Score', 'Research', 'Admit', 'University Rating'}

In [ ]:
#[6 points] Test cell-2
#DO NOT MODIFY/DELETE THIS CELL 
assert (round(np.mean(df_sub['CGPA']), 2))==0.58
assert (round(np.std(df_sub['CGPA']), 2))==0.19
assert (round(np.mean(df_sub['TOEFL Score']), 2))==0.0

In [ ]:
#[6 points] Test cell-3
#DO NOT MODIFY/DELETE THIS CELL 
assert (round(np.sum(df_sub['Admit']), 2))==604
assert (set(df_sub['Admit']))=={1, 2}
assert (len(df_sub['Admit'].loc[df_sub['Admit']==1]))==196

### Q2 [15 points]
#### 1. Split the data into `X` and `y` for feature columns and class label column respectively. 
- Feature columns (X): `GRE Score`, `TOEFL Score`, `University Rating`, `SOP`, `LOR`, `CGPA`, `Research` 
- CLass label column (y): `Admit`

#### 2. Using `X` and `y` variables representing features and class labels, perform train_test_split operation to build training (`X_train`, `y_train`) and testing data (`X_test`, `y_test`). 
- Use test_size=0.3, random_state=42 as the parameters for train_test_split() function. 

#### 3. Train the randomforest classifier (initialized as variable `rf`) using these parameters: max_depth=4, random_state=0. 
- Using the trained model `rf` to first compute accuracy score and assign it to variable `acc_rf`. 
- Then compute the impurity-based feature importances.
- Append the names of these top-3 features to a list `impFeatures`. Please make sure you type the feature names exactly as in `df_sub` 

#### 4. Train a K-Nearest Neighbors classifier (initialized as variable `knn1` and `knn2`) using these parameters: n_neighbors=4 and n_neighbors=20.
- Using the trained models `knn1` and `knn2` on training data, compute the accuracy score using test data and assign that to variables `acc_knn_4` and `acc_knn_20` respectively for `k=4` and `k=20`.

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

#Answering the above questions in the same order as listed

impFeatures=[] # Important Features

# Data Split
X = df_sub[['GRE Score', 'TOEFL Score', 'University Rating', 'SOP', 'LOR', 'CGPA', 'Research']]
y = df_sub['Admit']

# Train/Test
X_train, X_test, y_train, y_test= train_test_split(X, y, test_size = 0.3, random_state =42)

# Random Forest
rf = RandomForestClassifier(max_depth = 4, random_state = 0)
rf.fit(X_train, y_train)
y_pred_rf = rf.predict(X_test)
acc_rf = accuracy_score(y_test, y_pred_rf)
print(round(acc_rf,2)) # Accuracy

features = pd.DataFrame({'features':rf.feature_names_in_, 'importance':rf.feature_importances_})
features = features.sort_values(by='importance', ascending=False)
for x in range(3): # Top 3 Features
  impFeatures.append(features.iloc[x,0])
print(impFeatures)

# kNN
knn1 = KNeighborsClassifier(n_neighbors = 4)
knn1.fit(X_train, y_train)
y_pred_knn = knn1.predict(X_test)
acc_knn_4 = accuracy_score(y_test, y_pred_knn)
print(round(acc_knn_4,2))

knn2 = KNeighborsClassifier(n_neighbors = 20)
knn2.fit(X_train, y_train)
y_pred_knn = knn2.predict(X_test)
acc_knn_20 = accuracy_score(y_test, y_pred_knn)
print(round(acc_knn_20,2))

0.9
['CGPA', 'GRE Score', 'TOEFL Score']
0.87
0.9

In [ ]:
#[8 points] Test cell-4
#DO NOT MODIFY/DELETE THIS CELL 
assert (rf.max_depth)==4
assert (rf.n_estimators)==100
assert round(acc_rf,2)==0.9
assert set(impFeatures)=={'GRE Score', 'CGPA', 'TOEFL Score'}

In [ ]:
#[6 points] Test cell-5
#DO NOT MODIFY/DELETE THIS CELL 
assert knn1.metric=="minkowski"
assert knn2.metric=="minkowski"
assert (round(acc_knn_4,2))==0.87
assert (round(acc_knn_20, 2))==0.9

### Q3 [10 points]

#### 1. Assign your response to this string variable `your_response1` explaining why there is a performance difference between `knn1` and `knn2` models that were trained with neighbors `4` and `20` respectively? Justify. 
#### 2. Include your response in this variable `your_response2` describing if this is a reasonable way to perform normalization?

In [ ]:
your_response1="The values of 4 and 20 for kNN represent the number of neighbors for a given model. A lower k value leads to unstable decision boundaries, and thus having a higher k value is usually better as it leads to smoother boundaries  "
your_response2="For the dataframe above, I would say that this is not a reasonable way to perform normalization. We use MinMaxScaler on some columns, and StandardScaler on other columns. This inconsistency of normalization/standardization can lead to differing scales in columns. Thus, only one type of normalization/standardization should be used for a dataset"

# YOUR CODE HERE

In [ ]:
#[8 points] Hidden Test cell-6
#DO NOT MODIFY/DELETE THIS CELL